.title {
  font-size: 1.5rem;

  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.container {
  margin: auto;
  margin-left: 30px;
  display: flex;
  flex-grow: 1;
}
