.course {
  background-color: white;
  display: flex;
  max-width: 350px;
  min-width: 250px;
  padding: 5px;
  margin: 10px auto 10px auto;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textContainer {
  display: inline-block;
  padding: 5px 5px;
  padding-bottom: 10px;
  margin: auto 0px;
}

.course img {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: auto 5px auto 15px;
}

.course h3 {
  font-size: 1.05rem;
  display: block;
  margin: 0;
}

.course a {
  display: block;
    color: #11999e;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-top: 8px;
}
