.standardButton {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 25px;
  background-color: transparent;

  font-size: 1.35rem;
}

.standardButton:hover {
  cursor: pointer;
}

.standardButton:active {
  transform: scale(0.95, 0.95);
}
