.container {
  display: flex;
  width: 90%;
  margin: auto;

}

.background {
  background-color: white;
  padding: 30px 10px;
  font-size: 1.1rem;
  text-align: center;
  
  width: 100%;
}

.break {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, var(--light), var(--dark), var(--light));
  margin-bottom: 50px;
  width: 90%;
}