.container {
  display: flex;
  width: 60%;
  margin: auto;

}

.background {
  background-color: white;
  padding: 30px 10px;
  font-size: 1.1rem;
  text-align: center;
  
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 80%;
  }
} 

.break {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, var(--light), var(--dark), var(--light));
  margin-bottom: 50px;
  width: 90%;
}